/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .landing-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #f3e3d6;
  }
  
  /* Header */
  .landing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #d2918c;
  }
  
  .landing-logo {
      display: flex;
      align-items: center;
  }
  
  .landing-logo img {
      width: 200px;
      height: 50px;
      margin-right: 10px;
  }
  
  .landing-logo h1 {
      color: #e34234;
      font-size: 24px;
  }
  
  .landing-nav a {
      margin-left: 20px;
      text-decoration: none;
      color: #333;
      font-size: 16px;
      font-family:'Lexend Deca';
      padding-top : 10px;
      padding-bottom : 10px;
      padding-left: 10px;
      padding-right: 10px;
  }
  
  .landing-nav a:hover {
      background-color: aqua;
      border-radius:10px;
  }   
  
  /* Main Section */
  .landing-main {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    position: relative;
  }
  
  .main-left .doctor-image {
    width: 600px; /* Increased doctor image size */
    position: relative;
    z-index: 1;
  }
  
  .main-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .main-right h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .main-right p {
    font-size: 1.2rem;
    color: #777;
    margin: 20px 0;
  }
  
  .cta-button {
    background-color: #3282ff;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 30px;
  }
  
  .cta-button:hover {
    background-color: #255bb5;
  }
  
  .catchy-text {
    width: 300px;
  }
  
  /* Decorations */
  .decorations .blue-heart {
    position: absolute;
    top: 80px;
    left: 50px;
    width: 100px;
    z-index: 0;
  }
  
  .decorations .heart-second {
    top: 200px;
    left: 250px;
    width: 100px;
  }
  
  .decorations .heart-third {
    top: 320px;
    left: 100px;
    width: 100px;
  }
  
  .decorations .heart-bottom-right {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 100px;
  }
  
  .decorations .shield-icon {
    position: absolute;
    top: 45px;
    right: 780px; /* Position near the doctor's head */
    width: 250px;
    z-index: 1;
  }
  
  /* Profile styles */
.profile-pic {
  margin-left: auto;
  margin-right: 2rem;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
  background-color: #E6E6FA;
  padding: 5px;
}

.profile-icon:hover {
  transform: scale(1.1);
  background-color: #F0F0FF;
}